
$body-bg: #282D2F;
$body-color: #ffffff;

$theme-colors: (
        "primary": #30a9fb
);

@import "~bootstrap/scss/bootstrap";


/* basic styles */
body {
  font-family: 'Open Sans', sans-serif;
}

.main{
  background-color: #535b5e;
}

.blockquote-footer{
  color: $white;
}


@import "components/logo";
@import "components/login";
@import "components/panel";
@import "components/navigation";
@import "components/table";
@import "components/profile";
