<div class="content-header">
    <div class="row expanded">
        <div class="small-12 columns">
            <h1 class="content-header-heading"><span class="fa fa-{{ icon }}"></span> {{ title }}</h1>
            <p class="content-header-description">{{ description }}</p>
        </div>
    </div>
</div>